body {
  background: #EFEFEF;
  height: 100vh;
}

.borde {
  border: 1px solid red;
}

.login {
  width: 40em;
}

@media (max-width: 600px) {
  .login {
    width: 90%;
  }
}

.img-form {
  height: 10em;
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid #7366FF;
  border-radius: 1em;
}

.cerrar {
  color: #6b6b6b;
  transition: 0.2s;
}

.cerrar:hover {
  color: white;
}
